* {
  padding: 0;
  margin: 0;

}
.Container {
  display: flex;
  width: 100%;
  
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border: 1px solid transparent;
  width: 95%;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.namestylediv {
  display: flex;
  gap: 1rem;
}

.iconsdiv {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.iconsdivi {
  background-color: #bdc3c7;
  border-radius: 50%;
  padding: 0.5rem;
}

.search-bar i {
  position: absolute;
  top: 50%;
  left: 166px;
  transform: translateY(-50%);
  color: #aaa;
}

.search-bar {
  position: relative;
  display: inline-block;
}

.header input[type="text"] {
  padding: 5px;
  width: 200px;
  border: 1px solid #bdc3c7;
  border-radius: 22px;
}

.sidebar {
  width: 200px;
  background-color: #1e345b;
  color: #ecf0f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.imgcircle {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  background-color: #f39a63;
}

.icons2 {
  border-radius: 50%;
  background-color: #02112c;
  border: 1px solid black;
  margin: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  padding-top: 5px;
}
.sidebaritems {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}


.sidebaritems {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebaritems i {
  margin-right: 10px;
  font-size: 1.5em;
}

.sidebaritems p {
  margin: 0;
  font-size: 1.2em;
  flex-grow: 1;
}

.sidebaritems .submenu-icon {
  margin-left: auto;
  transition: transform 0.3s ease;
}

.sidebaritems:hover {
  background-color: #f39a63;
  padding: 5px;
  text-align: center;
  width: 100%;
}



.submenu {
  display: none;
  padding-left: 30px;
  color: #fff;
}

.submenu p {
  padding-left: 52px;
  color: #bdc3c7;
}

.submenu p:hover {
  color: #fff;
}


/* .sidebaritems.active .submenu-icon {
  transform: rotate(180deg);
} */

.sidebaritems1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;
  margin-top: 1rem;
}

.section1 {
  display: flex;
  margin: 2rem;
  justify-content: space-between;
  gap: 5rem;
  width: 100%;
  
}
.sections{
  width: 80%;
}

.card {
  padding: 1rem;
    width: 23rem;
  height: 11rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cardp{
  color: #1e345b;
padding-left: 15px;
}

.bottomdiv{
    color:#fff;
    text-align: center;
    padding: 1rem;
    background-color: #aaa;
}

.section2{
    display: flex;
    
    width: 100%;
    margin: 2rem;
    gap: 3rem;
}

.BarGraph{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 53rem;
}

.BarGraphdiv{
    margin: 0.5rem;
    background-color: #1e345b;
    color: #fff;
    padding: 10px;
    font: 1em sans-serif;
}

.BarUsers{
  width: 41rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}